<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Layout</title>
</head>
<body>
    <h2> @Html.ActionLink("Home page", "Index", "Home")</h2>
    <h2>@Html.ActionLink("Customer page", "Index", "Customer")</h2>
    <h2>@Html.ActionLink("Worker page", "Index", "Worker")</h2>
    <h2>@Html.ActionLink("Download the file", "Index", "File")</h2>
    @RenderBody()
</body>
</html>